<section class="col-9 card">
  <ul class="list-unstyled">
    <li>
      <article class="d-flex flex-row">
        <h2>Total Upvotes</h2>
      </article>
      <p>#{{vote_count}}{{format_plural "vote" vote_count}}</p>
      <p class="text-right">keep it up!</p>
    </li>
  </ul>
</section>