<body>
    <div class="d-flex flex-row">
        <div class="menu col-4 bg-dark">
            <h1 class="text-light">OurSpace.</h1>
            <p class="text-light">your account was created on <b>this date</b></p>
            <button id="postBtn" class="btn-light btn-outline-dark">new post
                <span class="material-icons align-middle">
                    add_circle_outline
                </span>
            </button>
            <ul class="list-unstyled text-light">
                <li class="loginList"><a href="/">my comments</a></li>
                <li class="loginList"><a href="/">my posts</a></li>
                <li class="loginList"><a href="/">my upvotes</a></li>
            </ul>
            <section class="button-section d-flex flex-column">
                <button id="logoutBtn" class="btn-light btn-outline-dark">logout
                    <span class="material-icons align-middle logoutIcon">
                        logout
                    </span></button>
            </section>
        </div>
        <div class="row align-items-start col-12">
            <div class="navbar col-12 d-flex flex-row border-bottom border-dark">
                <!-- only shows up if user is logged in -->
                <ul class="list-unstyled d-flex flex-row">
                    <li class="col-6 align-middle">
                        <a href="/">dashboard</a>
                    </li>
                    <li class="col-6 align-middle">
                        <a href="/">settings</a>
                    </li>
                </ul>
                <span class="searchIcon material-icons align-middle border border-dark">
                    search
                </span>
            </div>
            <div class="newsfeed col-12 d-flex flex-row flex-wrap">
              {{ >upvotes}}
            </div>
        </div>
    </div>
<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Content</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn-light btn-outline-dark">Create</button>
  </form>
</section>

{{!-- will only show if there are posts --}}
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol class="post-list">
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

</body>

<script src="/javascript/add-post.js"></script>