.button-section {
    margin-top: 200px;
}

.logoutIcon {
    font-size: 20px;
}

.menu p {
    margin-top: 40px;
}

.navbar a {
    color: black;
}

.navbar a:hover {
    color: black;
    text-decoration: none;
}

.menu a {
    color: white;
}

.menu a:hover {
    color: white;
    text-decoration: none;
}

.searchIcon {
    float: right;
    margin-bottom: 10px;
}

#titleText {
    width: 100%;
    height: 10%;
}

#linkText {
    width: 100%;
    height: 10%;
}

#descriptionText {
    width: 100%;
    height: 60%;
}

.newPost {
    margin-left: 40px;
    margin-bottom: 200px;
}